.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 40px;
}

.topics{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
}
h2{
    font-size: 30px;
    margin-top: 10px;
    font-weight: 800;
}


.fontone{
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    color: whitesmoke;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  body{
    background: linear-gradient(
        45deg,
        #374e9e,
        #1e3178,
        #0d1942
    )
  }

  .information{
    margin: 50px 106px;
    font-size: 36px;
   


  }
  .chris{
    height: 325px;
    width: 250px;
    border-radius: 70px;
    transition: transform 0.3s ease;
    animation: hoverMotion 3s ease-in-out infinite;
    margin-top: 15px;
  }
  @keyframes hoverMotion {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px); /* Smoothly lifts up */
    }
    100% {
      transform: translateY(0px); /* Returns down */
    }
  }

  .inf-text{
    font-size: 28px;
  }

  .summary{
    display: flex;
  }



