.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 40px;
}

.topics{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
}
h2{
    font-size: 30px;
    margin-top: 10px;
    font-weight: 800;
    margin-bottom: 0px;
}


.fontone{
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    color: whitesmoke;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  body{
    background: linear-gradient(
        45deg,
        #0b1745,
        #0a1645,
        #374e9e
        
        
    )
  }

  .information{
    margin: 50px 106px;
    font-size: 36px;
   


  }
  .chris{
    height: 325px;
    width: 250px;
    border-radius: 70px;
    transition: transform 0.3s ease;
    animation: hoverMotion 3s ease-in-out infinite;
    margin-top: 15px;
    margin-right: 100px;
  }
  @keyframes hoverMotion {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px); /* Smoothly lifts up */
    }
    100% {
      transform: translateY(0px); /* Returns down */
    }
  }

  .inf-text{
    font-size: 28px;
  }

  .summary{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0px 0px;
    gap: 60px;
  }

  .sum-place{
    width: 720px;
    margin-right: 80px;
  }
  .bot{
    font-size: 26px;
    width: 160px;
    height: 60px;
    background-color:#4157ab;
    color: whitesmoke;
    border-radius: 80px;
  }

  .sticker{
    background: transparent;
    margin-top: 0px;
    height: 580px;
    width: 400px;
    padding-bottom: 24px;
  }

  .about-sec{
    background-color: #040a24;
    border-radius: 20px;
    margin-top: 60px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .about-text{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 60px;
  }

  p{
    margin-top: 0px;
    margin-bottom: 36px;
    font-size: 24px;
  }

  h3{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 26px;
  }

  .about-title{
    margin-left: 40px;
    padding-top: 60px;
    margin-bottom: 0px;
  }

  .about-sectwo{
    display: flex;
    padding: 40px 120px;
    gap: 40px;

  }

  .icon{
    height: 100px;
    width: 100px;
  }

  .single-about{
    display: flex;
    gap: 15px;
  }

  .single-t-a{
    display: flex;
    flex-direction: column;
  }

  .projects-sec{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 0px 80px;
  }

  .project-img{
    height: 220px;
    width: 300px;
  }

  .pj-place{
    display: flex;
    align-content: center;
    padding: 40px 30px;
  }

  .size-pj{
    background-color: #1a3079;
    height: 740px;
    width: 360px;
    border-radius: 25px;
  }

  h6{
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 2px 22px;
  }

  h4{
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 2px 22px;
    font-size: 32px;
  }

  .pj-pad{
    padding: 0px 20px;
  }

  .par{
    margin-bottom: 5px;
  }

  .language{
    background-color:   #0b1745;
    border-radius: 70px;
  }

  .pos-la{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
  }

  .links{
    margin-top: 15px;
    display: flex;
    gap: 15px;
  }

  .but-links{
    background-color: #374e9e;
    border-radius: 70px;
  
  }
  
  .pj-head{
    margin-left: 64px;
    padding: 15px 0px;
  }

  .foot{
    background-color:#1a3079;
    display: flex;
    justify-content: space-between;
    padding: 60px 120px;
  }

  .foot-links{
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    gap: 15px;
    font-size: 28px;
  }

  .Con{
    font-size: 80px;
    margin-left: 20px;
  }

  a{
    text-decoration: none;
    color: whitesmoke;
  }
  html{
    scroll-behavior: smooth;
  }

  .exp{
    padding: 20px 40px
  }
  
  .uptown{
    padding-left: 40px;
  }

  #projects{
    padding-bottom: 36px;
  }




  



